body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
	width: 560px;
	margin: 10% auto;
	text-align: center;
}

h1 {
	font-size: 7em;
	font-family: Arial, monospace;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
